body{
    background-color: #c4c4c4;
}

.flexbox{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    height: 100vh;
    width: 80vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
}

.sf{
    line-height: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}
.stuffs{
    margin-top: 10px;
    text-align: center;
}
.short{
    padding-top: -100px;
}

.pfp{
    height: 150px;
    border-radius: 50%;
}

.aboutbox{
    border-radius: 10px;
    margin-top: 30px;
    height: 150px;
    width: 500px;
    opacity: 75%;
    background-color: rgb(163, 163, 163);
}

.about{
    margin-top: 10px;
    margin: 20px;
    margin-bottom: 10px;
}

.things{
    margin-top: 100px;
}